# TICKER TECHNICAL ANALYSIS

<img src="media/bull_bear.jpeg" alt="Alt Text" width="150"/>

Analsys of buy and sell signals for a given ticker price action for the specified date range. The buy and sell 
signals are based on common technical indicators, custom algorythms & compared against Machine Learning models.

### Imported Modules

In [145]:
import yfinance as yf
import pandas as pd
import pandas_ta as ta
import numpy as np
import matplotlib.pyplot as plt
import mplfinance as mpf
from datetime import datetime, timedelta
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

### Date Range Ticker

In [146]:
"""
Get current date so we can always get the most recent date from yahoo finance.
date is formated at as YY-mm-dd.

"""


date = datetime.now() + timedelta(days=1)
end_date_fmt = date.strftime("%Y-%m-%d")
start_date = '2022-01-01'
ticker = 'sofi'

### Yahoo API Using Date Range and Ticker

In [147]:
df_daily = yf.download(ticker, start_date, end_date_fmt, progress=False)

In [148]:
df_daily.head()

              Open       High    Low  Close  Adj Close    Volume
Date
2022-01-03  16.100  16.129999  15.45  15.68      15.68  27500900
2022-01-04  15.610  15.861000  14.59  15.05      15.05  34175900
2022-01-05  14.880  15.230000  14.04  14.10      14.10  35103100
2022-01-06  14.016  14.270000  13.01  13.78      13.78  46269400
2022-01-07  13.821  14.400000  13.62  13.74      13.74  28716200

In [ ]:
"""
The date_range function filters the dataframe for exact date range or span.

"""

def date_range(data, start=None, end=None, span=None):
    if start and end:
        return data[start:end]
    elif span is not None:
        cutoff_date = pd.Timestamp.now()-pd.Timedelta(days=span)
        return data[df_daily.index > cutoff_date]
    else:
        raise ValueError("Please provide either a date range (start='yyyy-mm-dd', end='yyyy-mm-dd') or span")

In [150]:
date_range(df_daily, start='2024-10-31', end='2024-11-04')

             Open    High     Low  Close  Adj Close    Volume
Date
2024-10-31  11.16  11.325  10.880  11.17      11.17  59129200
2024-11-01  11.21  11.220  10.810  11.04      11.04  41561500
2024-11-04  10.90  11.130  10.635  10.91      10.91  40752744

In [ ]:
date_range()